<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
 
</head>
<body>
    <header>
        <link rel="stylesheet" href="/static/css/styles.css">
        <nav>
            <h1>Entertainment Buzz</h1>
            <ul>
                <li><a href="/templates/home.html">Home</a></li>
                <li><a href="/templates/music.html">Music</a></li>
                <li><a href="/templates/movies.html">Movies</a></li>
                <li><a href="/templates/events.html">Events</a></li>
                <li><a href="/templates/about.html">About</a></li>
            </ul>
        </nav>
    </header>
    <div class="page-container">
        <h1>About Us</h1>
        <p>Entertainment Buzz is your go-to platform for the latest news in entertainment, music, movies, and events from around the globe.</p>
        <p>Our mission is to keep you updated with timely and accurate information, exclusive insights, and engaging content that resonates with your interests.</p>
    </div>
</body>
</html>